@charset "UTF-8";

:root {
    --red: #ff0000;
    --burgundy: #84242c;
    --bloodred: #620202;
    --orchidpink: #f6bdd1;
    --melon: #f0b5b3;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    color:#ffffff;
    background-color: #620202;
    font-family: Arial;
}

header{
    background-color: #ff0000;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2.5em;
}

nav{
    background-color: #ff0000;
    padding:10px;
    text-align: left;
    width: 15%;
    margin: auto;
}

main{
    padding: 10px;
    margin: auto;
    text-align: justify;
}

div{
    margin: auto;
    width: 100%;
    font-size: 2.0em;
    text-align: center;
}

a{
    color:#ffffff;
}

p {
    background-color: #ff0000;
}

li {
    font-size: 1.5em;
}

li > a{
    text-decoration: none;
}